################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpLibraryTools/.vs/CSharpLibraryTools/v16
/CSharpLibraryTools/CSharpLibraryTools/bin/Debug/netcoreapp3.1
/CSharpLibraryTools/CSharpLibraryTools/obj
